.customer-form-wrapper {
    border: 1px solid black;
}

.form-padding {
    padding: 15px;
}

.input-container {
    margin-bottom: 20px;
}

.notifications-label {
    margin-right: 10px;
}

.age-label {
    margin-right: 20px;
}

.hr {
    border: 0.5px solid black;
}

.spacer {
    margin-bottom: 40px;
}